body {
  padding-top: 25px;
  font: 14px verdana;
  color: #FFF;
  background: #000;
}

h1 {
  font-weight: 100;
  text-shadow: 0px 2px 1px #000;
}

#display {
  display: inline-block;
  margin-left: 25px;
  margin-top: -50px;
  width: 600px;
  height: 600px;
  border: none;
}

.jumbotron {
  background: transparent;
}

.faded {
  opacity: 0.6;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.screen {
  height: 200px;
}
